<?xml version="1.0"?>
<config>
  <modules>
    <Emp_Emma>
      <version>0.1.0</version>
    </Emp_Emma>
  </modules>
  <global>
    <helpers>
      <emma>
        <class>Emp_Emma_Helper</class>
      </emma>
    </helpers>
	<blocks>
	  <emma>
		<class>Emp_Emma_Block</class>
	  </emma>
	</blocks>
	<models>
	  <emma>
		<class>Emp_Emma_Model</class>
		<resourceModel>emma_mysql4</resourceModel>
	  </emma>
	  <emma_mysql4>
		<class>Emp_Emma_Model_Mysql4</class>
		<entities>
		  <emmasync>
			<table>emma_sync</table>
		  </emmasync>
        </entities>
	  </emma_mysql4>
	</models>
	<resources>
	  <emma_setup>
		<setup>
		  <module>Emp_Emma</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </emma_setup>
	  <emma_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </emma_write>
	  <emma_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </emma_read>
	</resources>
      <rewrite>
        <emma_onepage>
          <from><![CDATA[#^/checkout/onepage/#]]></from>
          <to>/emma/onepage/</to>
        </emma_onepage>
        <emma_register>
          <from><![CDATA[#^/customer/account/#]]></from>
          <to>/emma/account/</to>
        </emma_register>  
        <emma_manage>
          <from><![CDATA[#^/newsletter/manage/#]]></from>
          <to>/emma/manage/</to>
        </emma_manage>     
      </rewrite>  
  </global>
    <frontend>
        <routers>
            <emma>
                <use>standard</use>
                <args>
                    <module>Emp_Emma</module>
                    <frontName>Emma</frontName>
                </args>
            </emma>
        </routers>
        <layout>
            <updates>
                <emma>
                    <file>emma.xml</file>
                </emma>
            </updates>
        </layout>
    </frontend>  
  <admin>
	<routers>
	  <emma>
	    <use>admin</use>
		<args>
		  <module>Emp_Emma</module>
		  <frontName>emma</frontName>
		</args>
	  </emma>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <emma module="emma">
		<title>Emma</title>
		<sort_order>100</sort_order>
		<children>
		  <emma module="emma">
			<title>Configure Emma Groups</title>
			<sort_order>0</sort_order>
			<action>emma/adminhtml_emma</action>
		  </emma>          
		</children>
	  </emma>
	</menu>
	<acl>
	  <resources>
      
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
                <system>
                    <children>
                        <config>
                                <children>
                                    <emmasection translate="title" module="emma">  <!-- This is name of the section created by us -->
                                        <title>Emma Section ACL</title>  <!-- Title as shown in User->Roles->Permissions Window -->
                                        <sort_order>99</sort_order>
                                    </emmasection>
                                </children>
                        </config>
                    </children>
                </system>          
			<emma translate="title" module="emma">
			  <title>Emma</title>
			  <sort_order>1000</sort_order>
			  <children>
              <emma translate="title">
                <title>Configure Emma Groups</title>
              </emma>          
			  </children>
			</emma>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<emma>
		  <file>emma.xml</file>
		</emma>
	  </updates>
	</layout>
  </adminhtml>
</config> 